  <body ng-controller="CommandeCtrl">
    <ion-view view-title="Commandes">
    <ion-header-bar class="bar-positive">
      <h1 class="title">Accordion List</h1>
    </ion-header-bar>

    <ion-content>
  <ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="doRefresh()" ng-controller="MyController">
  </ion-refresher>
    <div class="list list-inset">
	  <label class="item item-input">
		<i class="icon ion-search placeholder-icon"></i>
		<input type="text" placeholder="Rechercher un client">
	  </label>
	</div>
      <ion-list>
        <div ng-repeat="commande in commandes | limitTo:-10">
          <ion-item class="item-stable"
                    ng-click="toggleGroup(commande)"
                    ng-class="{active: isGroupShown(commande)}">
              <i class="icon" ng-class="isGroupShown(commande) ? 'ion-minus' : 'ion-plus'"></i>
            {{commande.NUM_COM}}
          </ion-item>
          <ion-item class="item-accordion"
                    ng-show="isGroupShown(commande)">
					<div class="item item-button-right">
					<p>Date commande : {{commande.DATE_COM}}</p>
				<p>Date livraison : {{commande.DATE_LIVRAISON_COM}}</p>
			<a class="btnDetCom button button-positive icon ion-clipboard" href="#/app/browse/{{commande.NUM_COM}}">
			</a>
			  </div>
          </ion-item>
        </div>
      </ion-list>

    </ion-content>
    </ion-view>
  </body>
