<ion-view view-title="Login" align-title="left">
    <ion-content style="background: url(img/login.jpg) center; background-size: cover;" ng-controller="LoginCtrl">
        <div class="hero no-header flat">
            <div class="content">
                <i class="ion-social-android-outline icon hero-icon royal-bg"></i>
                <h1>Smartstock</h1>
            </div>
        </div>
        <div class="list">
            <label class="item item-input  label" style="background : #444; width : 90%;margin-left : 5%">
              <span class="input-label">Email</span>
              <input style="color : white;" class="md-input" type="text" ng-model="data.email">
            </label>
			</br>
            <label class="item item-input" style="background : #444; width : 90%;margin-left : 5%">
              <span class="input-label">Password</span>
              <input type="password" style="color : white;" ng-model="data.password">
            </label>
        </div>
        <div class="padding">
            <button ng-click="login()" class="button button-full button-assertive ink">Login</button>	
        </div>
		<div class="button-bar">
		<form action="www.hova-services.ovh">
			<input class="button button-small button-outline button-assertive light-bg…left ion-earth waves-effect waves-button waves-light" type="button" onclick="location.href='http://www.hova-services.ovh';" value="Website">
		</form>
			</button>
			<button class="button button-small button-outline button-positive light-bg …ft ion-ios-telephone waves-effect waves-button waves-light">
			Appeler HOVA
			</button>
		</div>
    </ion-content>
</ion-view>