<ion-view view-title="Produits">
  <ion-content>
    <div class="list list-inset">
	  <label class="item item-input">
		<i class="icon ion-search placeholder-icon"></i>
		<input type="text" placeholder="Rechercher un produit">
	  </label>
	</div>
    <ion-list>
      <ion-item ng-repeat="produit in produits">
	    <div class="list">
			<a class="item item-thumbnail-left">
			  <img src="cover.jpg">
			  <h2>Code Produit : {{produit.NUM_PROD}}</h2>
			  <p>{{produit.LIB_PROD}}</p>
			  <p>{{produit.PRIX_PROD}} € </p>
			</a>
		</div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
