<ion-view view-title="{{prod.LIB_PROD}}">
  <ion-content>
<div class="list" ng-item="prod in produits">
  <div class="item item-body">
      <p>
      R&eacute;f&eacute;rence produit : {{prod.NUM_PROD}}
    </p>
    <img class="full-image" src="{{prod.IMG_PROD}}">
	<p>
	{{prod.DES_PROD}}
	</p>
	<b>
	Prix : {{prod.PRIX_PROD}} &euro;
	</b>
  </div>
			<div class="item col-header item-text-wrap">
				<div class="row">
				  <div class="col col-50" href="#"><a><i class="icon ion-ios-cart"></i></a>Commander</div>
				  <div class="col col-50">Stock : {{prod.QTE_PROD}}</div>
				</div>
            </div>	

</div>

  </ion-content>
</ion-view>
<div class="bar bar-footer bar-balanced">
  <div class="title">Smartstock</div>
</div>