<ion-view cache-view="false" view-title="Statistiques">
    <ion-content ng-class="{expanded:$scope.isExpanded}" style="background-image: url('img/grey.png');">
	  <ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="doRefresh()" ng-controller="MyController">
  </ion-refresher>
	</br>
	<div class="mid-bar dark-bg z1 padding">
		<h3>
			Statistiques de l'année
		</h3>
	</div>
	<div ng-controller="GraphCtrl">
		<canvas id="bar" class="chart chart-bar" data="graph.data" labels="graph.labels" series='graph.series' height="100"></canvas>
	</div>
	<div class="mid-bar dark-bg z1 padding">
		<h3>
			Statistiques par produit
		</h3>
	</div>
	<div ng-controller="PieCtrl">
		<div>
			<canvas id="pie" class="chart chart-pie" legend="true" data="data" labels="labels"></canvas>
		</div>		
	</div>
		</ion-content>
</ion-view>