<ion-view cache-view="false" view-title="Statistiques">
    <ion-content ng-class="{expanded:$scope.isExpanded}" style="background-image: url('img/grey.png');">
	</br>
	<div class="mid-bar dark-bg z1 padding">
		<h3>
			Statistiques de l'année
		</h3>
	</div>
	<div ng-controller="GraphCtrl">
		<canvas id="bar" class="chart chart-bar" data="graph.data" labels="graph.labels" series='graph.series' height="100"></canvas>
	</div>
	<div class="mid-bar dark-bg z1 padding">
		<h3>
			Statistiques par produit
		</h3>
	</div>
	<div ng-controller="PieCtrl">
		<div>
			<canvas id="pie" class="chart chart-pie" data="data" labels="labels"></canvas>
		</div>		
	</div>
	            <div class="item col-header item-divider">
                <div class="row">
                        <div class="col-50">Produit</div>
						<div class="col-50">Quantit&eacute</div>
                    </div>
            </div>
			<div ng-controller="StatCtrl">
				<div ng-repeat="statPro in statPros">
				<div class="item col-header item-divider">
					<div class="row">
					  <div id="testD" class="col-50">{{statPro.LIB_PROD}}</div>
					  <div id="testL" class="col-50">{{statPro.QTE}}</div>
					</div>
				</div>
				</div>
			</div>
			</br>
		</ion-content>
</ion-view>