/* Empty. Add your own CSS if you like */
.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

#map {
  width: 100%;
  height: 100%;
}

.scroll {
  height: 100%;
}

.row
{
	padding-top : 1px;
	padding-bottom : 1px;
}

.item-divider
{
	padding-top : 1px;
	padding-bottom : 1px;
	border-color: #28A54C;
	background-color: #33CD5F;
}

.item-divider.item
{
	color : #FFF;
	padding-top : 1px;
	padding-bottom : 1px;
}

.item-text-wrap
{
	padding-top : 1px;
	padding-bottom : 1px;
}

.titreComDet
{
	background-color: #444;
	padding-top : 1px;
	padding-bottom : 3px;
	color : #FFF;
}

.btnDetCom.button.button-positive.icon.ion-clipboard
{
	border-color: #444;
	background-color: #444;
	color : #FFF;
}

.item.col-header.item-divider
{
	border-color: #444;
	background-color: #444;
	color : #FFF;
	height : 10px;
	line-height: 24px;
	min-height: 24px;
}

.item.col-header.item-text-wrap
{
	line-height: 24px;
	min-height: 24px;
}

.bar-assertive-900.bar.bar-header.disable-user-behavior
{
	background-color: #444;
}

.item.item-input.item-md-label
{
	width : 94%;
}

.input-label
{
	color : #FAEBD7;
}

.button.button-full.button-assertive.ink
{
	background-color : #444;
}

.button-bar
{
	background-color : #FAEBD7;
}

.ion-social-android-outline.icon.hero-icon.royal-bg
{
	background-color : #228B22 ;
}
